.sidenav-container {
    height: 100%;  
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(136, 136, 136, 0.4);
  }
  /*Not part of the theme, need to be changed  */
  .innerToolbar {
    color: blue;
  }
  
  .sidenav a  {
    color: blue; 
  }
  
  .sidenav::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url('/assets/images/sidebar-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(48, 39, 176, 0.4);
    top: 0;
    z-index: 1;
  }

  .sidenav span {
    margin-right: 10px;
  }
  .toolbar-icon {
    margin-right: 10px;
  }


  
  